spring:
  datasource:
    dynamic:
      primary: sharding
      strict: false
      datasource:
        uid:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://192.168.1.116:3307/uid_center?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
          username: root
          password: 123456

  autoconfigure:
    exclude:
      - org.apache.shardingsphere.spring.boot.ShardingSphereAutoConfiguration

# ShardingSphere 5.x 配置
sharding:
  enabled: true
  config:
    dataSources:
      ds_master:
        dataSourceClassName: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        jdbcUrl: jdbc:mysql://192.168.1.116:3307/tt_master?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
        username: root
        password: 123456
      ds_slave:
        dataSourceClassName: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        jdbcUrl: jdbc:mysql://192.168.1.116:3307/tt_slave?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
        username: root
        password: 123456
      ds_master_0:
        dataSourceClassName: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        jdbcUrl: jdbc:mysql://192.168.1.116:3307/tt_shard_01?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
        username: root
        password: 123456
      ds_master_1:
        dataSourceClassName: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        jdbcUrl: jdbc:mysql://192.168.1.116:3307/tt_shard_02?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
        username: root
        password: 123456
    rules:
      sharding:
        tables:
          t_customer:
            actualDataNodes: ds_${0..1}.t_customer
            databaseStrategy:
              standard:
                shardingColumn: id
                shardingAlgorithmName: customer_db_inline
          t_order:
            actualDataNodes: ds.t_order_${0..1}
            tableStrategy:
              standard:
                shardingColumn: customer_id
                shardingAlgorithmName: order_table_inline
        shardingAlgorithms:
          customer_db_inline:
            type: INLINE
            props:
              algorithm-expression: ds_${id % 2}
          order_table_inline:
            type: INLINE
            props:
              algorithm-expression: t_order_${customer_id % 2}
      readwriteSplitting:
        dataSources:
          ds:
            writeDataSourceName: ds_master
            readDataSourceNames:
              - ds_slave
            loadBalancerName: round_robin
          ds_0:
            writeDataSourceName: ds_master_0
            readDataSourceNames:
              - ds_master_0
            loadBalancerName: round_robin
          ds_1:
            writeDataSourceName: ds_master_1
            readDataSourceNames:
              - ds_master_1
            loadBalancerName: round_robin
        loadBalancers:
          round_robin:
            type: ROUND_ROBIN
    props:
      sql-show: true
