spring:
  # 动态数据源配置
  datasource:
    dynamic:
      primary: sharding
      strict: false
      datasource:
        # 百度 uid-generator 专用数据源
        uid:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://192.168.1.116:3307/uid_center?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
          username: root
          password: 123456

  # 排除 ShardingSphere 自动配置，使用自定义配置
  autoconfigure:
    exclude:
      - org.apache.shardingsphere.spring.boot.ShardingSphereAutoConfiguration
